# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# SQLite database
*.db
*.sqlite3

# Log files
*.log

# Coverage reports
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Test cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Ruff cache
.ruff_cache/